<div class="thumbnail">
  <div class="caption">
    <%= image_tag @ad.picture.url(:large), class: "card-img-top img-fluid" %>

    <h3><%= @ad.title %></h3>
    <h4><%= humanized_money_with_symbol @ad.price %></h4>
    <p><%= @ad.description.html_safe %></p>
    <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
    4.0 stars
  </div>
  <!-- /.card -->

  <div class="caption">
    <h3>
      Product Reviews
    </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
    <hr>
    <a href="#" class="btn btn-success">Leave a Review</a>
  </div>
  <!-- /.card -->
</div>
