<div class="well well-sm">
    <h4><%= @platform_name %></h4>
</div>

<% unless @exchanges.blank? && @sales.blank? %>
  <%= render partial: 'site/shared/trades' %>
<% else %>
  <h1 class="red-adv pull-right" style="line-height: 15em">Não foram encontrado registros para a pesquisa</h1>
<% end %>