<!-- Footer -->
<footer class="footer-dark">
  <div class="container">
    <p class="m-0 text-center text-white" style="padding-top: 10px;">Copyright &copy; <%= t('app.name') %> <%= Date.today.year %></p>
  </div>
  <!-- /.container -->
</footer>
