<h1>Ofertas</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs center" id="offers-tabs">
      <li id="exchanges-menu" style="width: 50%; font-weight: bold;">
        <a href="#exchanges-tabs" data-toggle="tab">Trocas</a>
      </li>
      <li id="sales-menu" style="width: 50%; font-weight: bold;">
        <a href="#sales-tabs" data-toggle="tab">Compras</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade in active" id="exchanges-tabs">
        <%= render :partial => 'site/profile/offers/exchanges' %>
      </div>
      <div class="tab-pane fade" id="sales-tabs">
        <%= render :partial => 'site/profile/offers/sales' %>
      </div>
    </div>
  </div>
  <!-- /.panel-body -->
</div>
