<h1 class="page-header">Diagrama ER</h1>

<div class="panel panel-default">
  <div class="panel-body embed-container">
    <object data="/diagram.pdf" type="application/pdf"></object> <!-- Adicionar um pdf na página -->
  </div>
</div>
