<div id="home-sidebar" class="col-lg-2 center">

  <h1 class="my-4">Categorias</h1>
  <div class="list-group center-list">
    <% @categories.each do |category| %>
      <%= link_to "#{category.description} (#{category.ads_count})", site_category_path(category.friendly_id), class: "list-group-item" %>
    <% end %>
  </div>

</div>
