<% if controller_name == "home" %>
  <% controle = @all_sales %>
<% else %>
  <% controle = @sales %>
<% end %>

<% unless controle.empty? %>
  <% controle.each do |sale| %>
    <div class="col-lg-4 col-md-6 mb-4" style="margin-top: 20px;">
      <div class="card h-100" style="margin-top: 10px;">
        <%= image_tag sale.member_game.game.picture.url(:thumb) %>
        <div class="card-body">
          <h4 class="card-title">
            <%= link_to truncate(sale.member_game.game.name, length: 30), '#', remote: true, data: { push: :partial } %>
          </h4>
          <% if sale.price == 0 %>
            <h5>-</h5>
          <% else %>
            <h5><%= humanized_money_with_symbol sale.price %></h5>
          <% end %>
          <p class="card-text"><%#= truncate(sale.description_short, length: 100) %></p>
        </div>
        <div class="card-footer readonly-star" style="padding-bottom: 5px;">
          <%#= rating_for sale, "quality", disable_after_rate: true %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row col-lg-12">
    <div class="text-center sales-pager">
        <%= paginate controle, :param_name => "sales_page" %>
    </div>
  </div>
<% else %>
  <h3 class="red-adv">Não foram encontrado registros para a pesquisa</h1>
<% end %>
