<div class="panel panel-default">
  <div class="panel-body">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="home-tabs">
      <li id="exchanges-menu" style="width: 50%;"><a href="#exchanges-tabs" data-toggle="tab">Trocas</a>
      </li>
      <li id="sales-menu" class="pull-right" style="width: 50%;"><a href="#sales-tabs" data-toggle="tab">Vendas</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade in active" id="exchanges-tabs">
        <%= render partial: 'site/home/exchanges' %>
      </div>
      <div class="tab-pane fade" id="sales-tabs">
        <%= render partial: 'site/home/sales' %>
      </div>
    </div>
  </div>
  <!-- /.panel-body -->
</div>