<%= render partial: 'site/shared/sidebar' %>

<div class="container">

  <div class="row">

    <div class="col-lg-1"></div>

    <div id="home-detail" class="col-lg-10 center" style="margin-top: 50px;">

      <%= render partial: 'site/shared/carousel' %>

      <div class="row">

        <%= render partial: 'site/shared/ads' %>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

    <div class="col-lg-1" style="margin-right:-40px;"></div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
