/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

.td-id {
  width: 75px;
}

.td-ico, .th-ico {
  height: 60px;
  width: 60px;
  text-align: center;
  margin: auto;
}

.img-center {
  vertical-align: middle;
}

.table-app > thead > tr > th, .table-app > tbody > tr > th, .table-app > tfoot > tr > th,
.table-app > thead > tr > td, .table-app > tbody > tr > td, .table-app > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: center;
  border-top: 1px solid #ddd;
}
